/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-scrollbar__wrap {
  overflow-x: hidden;
}

.el-main .el-scrollbar__view {
  padding-right: 13px !important;
}

.el-header {
  position: relative;
  width: 100%;
  height: 60px;
}

.el-aside {
  display: block;
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  transition: all .2s;
  /* overflow: hidden; */
}

.el-main {
  position: absolute;
  left: 200px;
  right: 0;
  top: 60px;
  bottom: 0;
  transition: left 0.3s;
  overflow-y: hidden;
  padding-right: 0;
}

.el-breadcrumb {
  margin-bottom: 15px;
}

.el-table {
  margin-top: 15px;
}

/* 进度条 */
.el-step__title {
  font-size: 14px !important;
}

.ql-container {
  min-height: 300px;
}
